ipykernel
langchain
langchain_core
langchain_community
streamlit
python-dotenv
groq
langchain-groq
faiss-cpu
chromadb
transformers
arxiv
wikipedia
duckduckgo-search
mysql-connector-python
SQLAlchemy
validators==0.28.1
youtube_transcript_api
unstructured
pytube
numexpr
langchain_huggingface
huggingface_hub
PyPDF2
cassio 
datasets  
tiktoken
